.faq {
    margin: 1rem;
    background-color: purple;
    padding: 1rem;
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem rgb(193, 153, 193);
}

.faq div {
    display: flex;
    justify-content: space-between;
}